# List

In [1]:
print('hello world')

hello world

In [2]:
list = [1,2,'hello',3.14,'Hits']
print(list)
print(type(list))
print(type(list[1]))
print(list[2])
print(list[0:3])
list[2] = 'Hii'
print(list)
list[0:3] = [3,'hello', 3.11]
print(list)

[1, 2, 'hello', 3.14, 'Hits']
<class 'list'>
<class 'int'>
hello
[1, 2, 'hello']
[1, 2, 'Hii', 3.14, 'Hits']
[3, 'hello', 3.11, 3.14, 'Hits']

In [3]:
list[0:1] = [8]
list

[8, 'hello', 3.11, 3.14, 'Hits']

In [4]:
list[0:1] = [8,8,9]
list

[8, 8, 9, 'hello', 3.11, 3.14, 'Hits']

In [5]:
list1 = [10,20,[30,40,[50,60],70],80]
list1[2][2][1]= 6000
list1

[10, 20, [30, 40, [50, 6000], 70], 80]

In [6]:
list2 = ['red', 'green', 'blue','red','red']
# list2.count('red')
# list2.index('green')

# list2.insert(2, 'yellow')
# list2
# list2.extend(['purple', 'orange'])
# list2
# list2.remove('red')
# list2
# list2.pop(3)
# list2
# list2.sort(reverse=True)
# list2
list2[::-1]

['red', 'red', 'blue', 'green', 'red']

# Tuples

In [7]:
tuple = ('apple', 'banana', 'mango', 'orange')
type(tuple)
tuple
tuple.count('banana')
tuple.index('mango')

2

# Sets

In [8]:
set = {1,2,'hello',True,'hello'}
type(set)
set
set.add('world')
set.pop()
set

{2, 'hello', 'world'}

In [9]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

set3 = set1 & set2
set3

set4 = set1 | set2
set4
set5 = set1 - set2
set5
set6 = set2 - set1
set6
set7 = set1 ^ set2
set7

{1, 2, 3, 6, 7, 8}

In [10]:
a = {1,2,3,4,5}
b= {4,5,6,7,8}

# a.intersection_update(b)
# a

# a.difference_update(b)
# a
a.symmetric_difference_update(b)
a

{1, 2, 3, 6, 7, 8}

# Dictionary

In [11]:
student = {
    "name" : "Alice",
    "age" : 20,
    "Cource" : "AI"
}

print(type(student))
student["city"] = "Jaipur"
student
student.get("name")
student.update({"name": "Hitesh"})
student
student.pop("city")
student

<class 'dict'>

{'name': 'Hitesh', 'age': 20, 'Cource': 'AI'}

In [12]:
dt = {"a" : 3}
value = dt.setdefault("b" ,2 )
dt

{'a': 3, 'b': 2}

In [13]:
dt1 = {"a" : 3, "b" : 4}
value = dt.setdefault("b" ,2 )
dt1

{'a': 3, 'b': 4}

#  Conditional Statement

In [14]:
a = 10
b = 5

if a<b:
    print("a is less than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is greater than b")

a is greater than b

In [19]:
a = int(input("Enter a number: "))

if a%5 == 0 and a%7 == 0:
    print("a is divisible by both 5 and 7")
elif a%5 == 0:
    print("a is divisible by 5")
elif a%7 == 0:
    print("a is divisible by 7")    
else:
    print("a is not divisible by either 5 or 7")

a is divisible by 5

In [ ]:
b = int(input("Enter a number: "))

if b%4 == 0 and b%100 != 0 or b%400 == 0:
    print("b is a leap year")
else:
    print("b is not a leap year")

b is a leap year

# Loop

### Loop - itereting in a sequence

In [ ]:
lst = ['red', 'green', 'blue', 'black']

for i in lst:
    print(i, end = ' ')

red green blue black

In [ ]:
dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

for i in dict:
    print(i, ":", dict[i], end = '  ')

name : Alice  age : 25  city : New York

In [ ]:
lst1 = [1, 2, 3]
lst2 = ['red', 'green', 'blue']
for i in lst1:
    for j in lst2:
        print(i, j)
        print("---------------------")

1 red
---------------------
1 green
---------------------
1 blue
---------------------
2 red
---------------------
2 green
---------------------
2 blue
---------------------
3 red
---------------------
3 green
---------------------
3 blue
---------------------

# Break and Continue

In [ ]:
for i in range (1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [18]:
lstt = [1, 2, 3, 4, 5]
lsttt = []
for i in lstt:
   
    lsttt.append(i ** 2)
print(lsttt)

[1, 4, 9, 16, 25]

# While-Loop

In [21]:
i = 1
while i <= 10:
    print(i, end = ' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

In [22]:
i = 10
while i >= 1:
    print(i, end = ' ')
    i -= 1

10 9 8 7 6 5 4 3 2 1

In [23]:
i = 1
while i <= 10:
    if i == 5:
        break
    print(i, end=' ')
    i += 1

1 2 3 4

In [28]:
i = 1
while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i, end=' ')
    i += 1

1 2 3 4 6 7 8 9 10

# Exception - Handling

In [ ]:
# 4 types of block -->  try , except , finally , else
# Try block --> Try block is used to test a block of code for errors.
# Except block --> Except block is used to handle the error.
# Finally block --> Finally block is used to execute the code regardless of the try and except blocks.
# else block --> else block is used to execute a block of code if no errors occur.

In [1]:
#ZeroDivisionError
try:
    print(10 / 0)
except Exception as e:
    print(e)
else:
    print("else block executed")
finally:
    print("finally block executed")

division by zero
finally block executed

In [6]:
#indexError
try:
    lst = [1, 2, 3]
    print(lst[3])
except Exception as e:
    print(e)
else:
    print("Else block executed")
finally:
    print("Finally block executed")

list index out of range
Finally block executed