# logistic regression

In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
df = pd.read_csv('cust_satisfaction.csv')
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [84]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [85]:
df.dropna(inplace = True)
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [86]:
df.duplicated().sum()

np.int64(172)

In [87]:
df.drop_duplicates(inplace=True)

In [88]:
df.duplicated().sum()

np.int64(0)

In [89]:
df['Customer Type'].value_counts()

Customer Type
Loyal Customer       84517
disloyal Customer    18905
Name: count, dtype: int64

In [90]:
loyal_customer = df[df['Customer Type'] == 'Loyal Customer']
disloyal_customer = df[df['Customer Type'] == 'disloyal Customer']

In [91]:
loyal_customer = loyal_customer.sample(20000)
loyal_customer.shape

(20000, 12)

In [92]:
balance_df = pd.concat([loyal_customer, disloyal_customer], axis = 0)
balance_df.shape

(38905, 12)

In [93]:
cat_col = balance_df.select_dtypes(include = ['object'])
cat_col.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
99560,Female,Loyal Customer,Business travel,Business,satisfied
40785,Female,Loyal Customer,Business travel,Business,satisfied
24435,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
39042,Male,Loyal Customer,Personal Travel,Business,neutral or dissatisfied
56638,Male,Loyal Customer,Business travel,Business,satisfied

In [94]:
balance_df['Customer Type'].value_counts()

Customer Type
Loyal Customer       20000
disloyal Customer    18905
Name: count, dtype: int64

In [ ]:
# dt = {
#     "Loyal Customer" : 1,
#     "disloyal Customer" : 0 
#     }

In [ ]:
# cat_col['Customer Type'] = cat_col['Customer Type'].map(dt)
# cat_col.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
99560,Female,1,Business travel,Business,satisfied
40785,Female,1,Business travel,Business,satisfied
24435,Male,1,Personal Travel,Eco,neutral or dissatisfied
39042,Male,1,Personal Travel,Business,neutral or dissatisfied
56638,Male,1,Business travel,Business,satisfied

In [ ]:
# dt1 = {
#     "Female" : 0,
#     "Male" : 1
# }

In [ ]:
# cat_col['Gender'] = cat_col['Gender'].map(dt1)
# cat_col.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
99560,0,1,Business travel,Business,satisfied
40785,0,1,Business travel,Business,satisfied
24435,1,1,Personal Travel,Eco,neutral or dissatisfied
39042,1,1,Personal Travel,Business,neutral or dissatisfied
56638,1,1,Business travel,Business,satisfied

In [ ]:
# dt2 = {
#     "satisfied" : 1,
#     "neutral or dissatisfied" : 0
# }

In [ ]:
# cat_col['satisfaction'] = cat_col['satisfaction'].map(dt2)
# cat_col.head()

       Gender  Customer Type   Type of Travel     Class  satisfaction
99560       0              1  Business travel  Business             1
40785       0              1  Business travel  Business             1
24435       1              1  Personal Travel       Eco             0
39042       1              1  Personal Travel  Business             0
56638       1              1  Business travel  Business             1

In [ ]:
# dt3 = {
#     "Business travel" : 0,
#     "Personal Travel" : 1
# }

# dt4 = {
#     "Business" : 0,
#     "Eco" : 1
# }

In [ ]:
# cat_col['Type of Travel'] = cat_col['Type of Travel'].map(dt3)
# cat_col['Class'] = cat_col['Class'].map(dt4)
# cat_col.head()

       Gender  Customer Type  Type of Travel  Class  satisfaction
99560       0              1               0    0.0             1
40785       0              1               0    0.0             1
24435       1              1               1    1.0             0
39042       1              1               1    0.0             0
56638       1              1               0    0.0             1

In [104]:
pd.get_dummies(cat_col, drop_first = True).astype(int).head()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer