# Practice of ANN

In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [81]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [82]:
df.duplicated().sum()

np.int64(1)

In [83]:
df.drop_duplicates(inplace = True)
df.duplicated().sum()

np.int64(0)

In [84]:
df.describe()

               age          bmi     children       charges
count  1337.000000  1337.000000  1337.000000   1337.000000
mean     39.222139    30.663452     1.095737  13279.121487
std      14.044333     6.100468     1.205571  12110.359656
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.290000     0.000000   4746.344000
50%      39.000000    30.400000     1.000000   9386.161300
75%      51.000000    34.700000     2.000000  16657.717450
max      64.000000    53.130000     5.000000  63770.428010

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

In [86]:
df = pd.get_dummies(df , columns= ['sex' , 'smoker' , 'region'], drop_first= True)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1337 non-null   int64
 1   bmi               1337 non-null   float64
 2   children          1337 non-null   int64
 3   charges           1337 non-null   float64
 4   sex_male          1337 non-null   bool
 5   smoker_yes        1337 non-null   bool
 6   region_northwest  1337 non-null   bool
 7   region_southeast  1337 non-null   bool
 8   region_southwest  1337 non-null   bool
dtypes: bool(5), float64(2), int64(2)
memory usage: 58.8 KB

In [88]:
x = df.drop('charges', axis = 1)
y = df['charges']

In [89]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train , y_test = train_test_split(x,y, test_size = 0.2, random_state = 43)

In [90]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_transform = sc.fit_transform(x_train)
x_test_transform = sc.transform(x_test)

In [91]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [92]:
model = Sequential()

model.add(Dense(68, activation = 'relu', input_dim = (x_train_tranform.shape[1])))
model.add(Dense(32, activation = 'relu'))
model.add(Dense(24, activation = 'relu'))
model.add(Dense(12, activation = 'relu'))

model.add(Dense(1, activation = 'linear'))
model.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics = ['mae'])

model.summary()

c:\Users\hites\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_15 (Dense)                │ (None, 68)             │           612 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 32)             │         2,208 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 24)             │           792 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_18 (Dense)                │ (None, 12)             │           300 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_19 (Dense)                │ (None, 1)              │            13 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,925 (15.33 KB)

 Trainable params: 3,925 (15.33 KB)

 Non-trainable params: 0 (0.00 B)

In [93]:
charges = model.fit(x_train_transform , y_train , epochs = 10 , validation_data = (x_test_transform , y_test))

Epoch 1/10

34/34 ━━━━━━━━━━━━━━━━━━━━ 5s 20ms/step - loss: 355936288.0000 - mae: 13866.5264 - val_loss: 322726080.0000 - val_mae: 13445.6533
Epoch 2/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 316747360.0000 - mae: 13160.8691 - val_loss: 322268992.0000 - val_mae: 13429.8896
Epoch 3/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 351307040.0000 - mae: 13863.3047 - val_loss: 320047936.0000 - val_mae: 13356.6738
Epoch 4/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 322258112.0000 - mae: 13369.8037 - val_loss: 311736544.0000 - val_mae: 13093.9141
Epoch 5/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 302813152.0000 - mae: 12441.0264 - val_loss: 288181056.0000 - val_mae: 12369.6943
Epoch 6/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 262983312.0000 - mae: 11480.2900 - val_loss: 237580112.0000 - val_mae: 10789.9531
Epoch 7/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 209861376.0000 - mae: 9920.1543 - val_loss: 156353728.0000 - val_mae: 8188.9121
Epoch 8/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 125352888.0000 - mae: 6948.5986 - val_loss: 81619264.0000 - val_mae: 5756.5967
Epoch 9/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 66452396.0000 - mae: 5433.1465 - val_loss: 52696212.0000 - val_mae: 5392.7871
Epoch 10/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step - loss: 49384024.0000 - mae: 5302.7603 - val_loss: 45458072.0000 - val_mae: 5308.5176

In [94]:
from sklearn.metrics import r2_score

y_pred = model.predict(x_test_transform).flatten()
r2 = r2_score(y_test, y_pred)
print("R² Score:", r2)

9/9 ━━━━━━━━━━━━━━━━━━━━ 1s 28ms/step
R² Score: 0.6797428234526882