# ANN - Artificial Neural Network

In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [83]:
df = pd.read_csv('cust_satisfaction.csv')
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [85]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [86]:
df.dropna(inplace = True)
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [87]:
df.duplicated().sum()

np.int64(172)

In [88]:
df.drop_duplicates(inplace=True)

In [89]:
df.duplicated().sum()

np.int64(0)

In [90]:
df['Customer Type'].value_counts()

Customer Type
Loyal Customer       84517
disloyal Customer    18905
Name: count, dtype: int64

In [91]:
loyal_customer = df[df['Customer Type'] == 'Loyal Customer']
disloyal_customer = df[df['Customer Type'] == 'disloyal Customer']

In [92]:
loyal_customer = loyal_customer.sample(20000)
loyal_customer.shape

(20000, 12)

In [93]:
balance_df = pd.concat([loyal_customer, disloyal_customer], axis = 0)
balance_df.shape

(38905, 12)

In [94]:
cat_col = balance_df.select_dtypes(include = 'object')
cat_col.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
95958,Male,Loyal Customer,Personal Travel,Business,neutral or dissatisfied
45943,Male,Loyal Customer,Personal Travel,Eco,satisfied
40581,Female,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
30934,Male,Loyal Customer,Business travel,Business,satisfied
33499,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied

In [95]:
num_col = balance_df.select_dtypes(exclude = 'object')

In [96]:
balance_df['Customer Type'].value_counts()

Customer Type
Loyal Customer       20000
disloyal Customer    18905
Name: count, dtype: int64

In [97]:
# dt = {
#     "Loyal Customer" : 1,
#     "disloyal Customer" : 0 
#     }

In [98]:
# cat_col['Customer Type'] = cat_col['Customer Type'].map(dt)
# cat_col.head()

In [99]:
# dt1 = {
#     "Female" : 0,
#     "Male" : 1
# }

In [100]:
# cat_col['Gender'] = cat_col['Gender'].map(dt1)
# cat_col.head()

In [101]:
# dt2 = {
#     "satisfied" : 1,
#     "neutral or dissatisfied" : 0
# }

In [102]:
# cat_col['satisfaction'] = cat_col['satisfaction'].map(dt2)
# cat_col.head()

In [103]:
# dt3 = {
#     "Business travel" : 0,
#     "Personal Travel" : 1
# }

# dt4 = {
#     "Business" : 0,
#     "Eco" : 1
# }

In [104]:
# cat_col['Type of Travel'] = cat_col['Type of Travel'].map(dt3)
# cat_col['Class'] = cat_col['Class'].map(dt4)
# cat_col.head()

In [105]:
pd.get_dummies(cat_col, drop_first = True).astype(int).head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus,satisfaction_satisfied
95958,1,0,1,0,0,0
45943,1,0,1,1,0,1
40581,0,0,1,1,0,0
30934,1,0,0,0,0,1
33499,1,0,0,0,0,0

In [106]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
ohe = OneHotEncoder(drop = "if_binary")
cat_col_encoded = ohe.fit_transform(cat_col).toarray()
cat_col_encoded

array([[1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 1., 0., 1.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.]])

In [107]:
column_names = list(ohe.get_feature_names_out())
column_names

['Gender_Male',
 'Customer Type_disloyal Customer',
 'Type of Travel_Personal Travel',
 'Class_Business',
 'Class_Eco',
 'Class_Eco Plus',
 'satisfaction_satisfied']

In [108]:
one_hot = pd.DataFrame(cat_col_encoded, columns = column_names)
one_hot.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [109]:
one_hot = one_hot.reset_index(drop = True)
num_col = num_col.reset_index(drop = True)

In [110]:
final_df = pd.concat([num_col, one_hot], axis = 1)
final_df

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,43,731,2,2,5,0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1,33,174,5,4,5,0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
2,7,1576,3,3,3,0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,30,337,4,5,4,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,39,2253,3,3,3,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38900,37,596,3,3,3,110,121.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
38901,24,1055,1,5,1,13,10.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
38902,23,192,2,4,2,3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
38903,30,1995,4,4,4,7,14.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
38904,22,1000,1,1,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [111]:
final_df.columns

Index(['Age', 'Flight Distance', 'Inflight entertainment', 'Baggage handling',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Gender_Male', 'Customer Type_disloyal Customer',
       'Type of Travel_Personal Travel', 'Class_Business', 'Class_Eco',
       'Class_Eco Plus', 'satisfaction_satisfied'],
      dtype='object')

In [112]:
x = final_df.drop('satisfaction_satisfied', axis = 1)
y = final_df['satisfaction_satisfied']

In [113]:
from sklearn.model_selection import train_test_split

In [114]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [115]:
from sklearn.preprocessing import StandardScaler

In [116]:
sc = StandardScaler()
x_train_tranform = sc.fit_transform(x_train)
x_test_tranform = sc.fit_transform(x_test)

In [117]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [118]:
model = Sequential()

model.add(Dense(68, activation = 'relu', input_dim = (x_train_tranform.shape[1])))
model.add(Dense(32, activation = 'relu'))
model.add(Dense(24, activation = 'relu'))
model.add(Dense(12, activation = 'relu'))

model.add(Dense(1, activation = 'sigmoid'))

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

model.summary()

c:\Users\hites\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_10 (Dense)                │ (None, 68)             │           952 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 32)             │         2,208 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_12 (Dense)                │ (None, 24)             │           792 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 12)             │           300 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_14 (Dense)                │ (None, 1)              │            13 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,265 (16.66 KB)

 Trainable params: 4,265 (16.66 KB)

 Non-trainable params: 0 (0.00 B)

In [119]:
history = model.fit(x_train_tranform, y_train, validation_data= (x_test_tranform, y_test), epochs = 10)

Epoch 1/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 20s 13ms/step - accuracy: 0.7726 - loss: 0.4731 - val_accuracy: 0.8377 - val_loss: 0.3867
Epoch 2/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 29s 22ms/step - accuracy: 0.8407 - loss: 0.3802 - val_accuracy: 0.8421 - val_loss: 0.3783
Epoch 3/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 41s 23ms/step - accuracy: 0.8439 - loss: 0.3741 - val_accuracy: 0.8433 - val_loss: 0.3704
Epoch 4/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 15s 15ms/step - accuracy: 0.8463 - loss: 0.3663 - val_accuracy: 0.8478 - val_loss: 0.3671
Epoch 5/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 10s 10ms/step - accuracy: 0.8472 - loss: 0.3612 - val_accuracy: 0.8490 - val_loss: 0.3616
Epoch 6/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 9s 9ms/step - accuracy: 0.8499 - loss: 0.3544 - val_accuracy: 0.8472 - val_loss: 0.3602
Epoch 7/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 16s 16ms/step - accuracy: 0.8478 - loss: 0.3554 - val_accuracy: 0.8453 - val_loss: 0.3629
Epoch 8/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 14s 14ms/step - accuracy: 0.8519 - loss: 0.3461 - val_accuracy: 0.8473 - val_loss: 0.3678
Epoch 9/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 7s 7ms/step - accuracy: 0.8523 - loss: 0.3506 - val_accuracy: 0.8442 - val_loss: 0.3594
Epoch 10/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 8s 8ms/step - accuracy: 0.8485 - loss: 0.3526 - val_accuracy: 0.8489 - val_loss: 0.3573